__pycache__/
.env
.env.sample
.static
.media
.docker-compose
.dockerignore
Dockerfile
poetry.lock
.DS_Store
**/.DS_Store
.pytest_cache
pytest.ini
.cov_html
.coverage
.coveragerc
conftest.py
.gcp_creds.json
.kubernetes
README.md

